<section class="jumbotron text-center mt-4">
	<div class="container">
		<div class="support-out-icon"><span><i class="fas fa-times-circle"></i></span></div>
		<h1>Unable to create membership.</h1>
		<p class="lead text-muted">Unable to create membership.
		</p>
		<p>
			<a [routerLink]="['/home']" class="btn btn-info my-2 mr-2"><i class="fas fa-home"></i> Cancel</a>
			<a [routerLink]="['/memberships']" class="btn btn-primary my-2"><i class="fas fa-store-alt"></i> Try Again</a>
		</p>
	</div>
</section>