<div class="card mt-5">
	<div class="card-body">
		<h5 class="card-title">OOPCoders Terms of Use</h5>
		<h6 class="card-subtitle mb-3 text-muted">Last updated: November 12, 2020</h6>
		<p class="card-text font-weight-bold">
			By clicking "sign in", "create account", or "submit order" and entering or otherwise using our website or mobile application (the "Site"),
			you agree
			to and accept these terms and conditions. Certain products and services on our Site may have additional terms that apply (for example, if
			you
			subscribe to our subscription program, you also will be subject to the Terms & Conditions). If these Terms of Use
			are
			inconsistent with terms applicable to a certain product or service, those other terms will control.
		</p>
		<p class="card-text">
			THESE TERMS AND CONDITIONS, AS WELL AS ANY OTHER PRODUCT AND SERVICE SPECIFIC TERMS ON OUR SITE, CONSTITUTE YOUR SERVICE AGREEMENT
			("AGREEMENT") WITH
			your company name goes here, INC. AND ANY OF ITS OWNED OR OPERATED SITES WHERE THESE TERMS OF USES ARE POSTED ("your company"). THIS
			AGREEMENT
			SETS FORTH THE LEGALLY
			BINDING TERMS
			FOR YOUR USE OF OUR SITE AND YOUR PURCHASE OR USE OF ANY PRODUCTS OR SERVICES OFFERED ON THE SITE. BY ACCESSING AND/OR USING THE SITE, YOU
			REPRESENT
			AND WARRANT THAT YOU HAVE THE RIGHT, AUTHORITY, AND CAPACITY TO ENTER INTO THE AGREEMENT AND TO ABIDE BY ALL OF THE TERMS AND CONDITIONS
			SET FORTH
			HEREIN. YOU MAY NOT ACCESS OR USE THIS SITE OR ACCEPT THIS AGREEMENT UNLESS YOU ARE AT LEAST 18 YEARS OLD.

			ARBITRATION NOTICE: THESE TERMS CONTAIN AN ARBITRATION CLAUSE A LITTLE LATER ON. YOU AND your company name goes here
			AGREE THAT DISPUTES BETWEEN US WILL BE
			RESOLVED BY
			MANDATORY BINDING ARBITRATION, AND YOU AND your company name goes here WAIVE ANY RIGHT TO PARTICIPATE IN A CLASS-ACTION LAWSUIT OR
			CLASS-WIDE ARBITRATION.
		</p>
		<a [routerLink]="['/home']" class="card-link">Home Page</a>
	</div>
</div>