<footer class="my-5 pt-5 text-muted text-center text-small">
	<p class="mb-1">© 2020-2022 <a href="https://www.youtube.com/channel/UCqtKLBlLNC2Qn-ZfRPaFRZQ" target="_blank">OOPCoders</a> </p>
	<ul class="list-inline">
		<li class="list-inline-item"><a [routerLink]="['/home']">Home</a></li>
		<li class="list-inline-item"><a [routerLink]="['/memberships']">Membership Plans</a></li>
		<li class="list-inline-item"><a [routerLink]="['/checkout']">Checkout</a></li>
		<li class="list-inline-item"><a [routerLink]="['/success']">Membership Created Success</a></li>
		<li class="list-inline-item"><a [routerLink]="['/failure']">Membership Created Failure</a></li>
		<li class="list-inline-item"><a [routerLink]="['/terms']">Terms of Use</a></li>
		<li class="list-inline-item"><a [routerLink]="['/privacy']">Privacy Policy</a></li>
		<li class="list-inline-item"><a (click)="logout()">Logout</a></li>
	</ul>
</footer>