<div class="card mt-5">
	<div class="card-body">
		<h5 class="card-title">Privacy Policy</h5>
		<h6 class="card-subtitle mb-3 text-muted">Last updated: June 18, 2020</h6>
		<p class="card-text">
			OOPCoders, Inc. and its affiliates ("OOPCoders" or "we", "our", "us") respect the privacy of our consumers. This Privacy Policy ("Privacy
			Policy")
			explains the type of information we collect from individuals that visit our websites (each, a "Site") or use our mobile applications
			(each, an "App") where
			this Privacy Policy is posted or otherwise connect with us offline such as via telephone ("Offline Services", and collectively with all
			Sites and
			Apps, the "Services" or individually, a "Service"), and how we store, use, disclose and protect such information. This Privacy Policy also
			provides
			employment applicants with information about the categories of personal information that we collect from them, and the purposes for which
			applicants’
			personal information is used. By using or accessing our Services, you agree to the collection, storage, use and disclosure of your
			information as
			described in this Privacy Policy.
		</p>
		<a [routerLink]="['/home']" class="card-link">Home Page</a>
	</div>
</div>