<div class="my-3 p-3 bg-white rounded shadow-sm">
	<h6 class="border-bottom border-gray pb-2 mb-0">Course List</h6>

	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#ed9d2b"></rect><text x="50%" y="50%" fill="#ed9d2b" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Install and use Stripe SDK in ASP.NET application</strong>
				<a href="https://gist.github.com/oopcoders/3e645e3effa6fbf00a113a1ae65b341f" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 1</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#02b875"></rect><text x="50%" y="50%" fill="#02b875" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Create a Checkout Session -- API</strong>
				<a href="https://gist.github.com/oopcoders/a6eb9f6b742ec6003ed2c592f4566a03" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 2</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#4582ec"></rect><text x="50%" y="50%" fill="#4582ec" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Create a Checkout Session -- SPA</strong>
				<a href="https://gist.github.com/oopcoders/eecc8df5b51708db6d3d310fd875e924" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 3</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#d23430"></rect><text x="50%" y="50%" fill="#d23430" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Refactor Application</strong>
				<a href="https://gist.github.com/oopcoders/ea53c75743ef29b1fec66cc52f14d370" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 4 </span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#ed9d2b"></rect><text x="50%" y="50%" fill="#ed9d2b" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Create Billing Portal Session -- API</strong>
				<a href="https://gist.github.com/oopcoders/235427dda9d37c220e565fb3badd0b28" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 5</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#02b875"></rect><text x="50%" y="50%" fill="#02b875" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Protect customer-portal -- API</strong>
				<a href="https://gist.github.com/oopcoders/760c7b7b1f52d7eca9da537321ad77fe" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 6</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#4582ec"></rect><text x="50%" y="50%" fill="#4582ec" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Send customer to the Billing portal -- SPA</strong>
				<a href="https://gist.github.com/oopcoders/1c258b79505b63dbf00fd1705b23c674" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 7</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#d23430"></rect><text x="50%" y="50%" fill="#d23430" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Use Stripe CLI and get WebHook token</strong>
				<a href="https://gist.github.com/oopcoders/2648c537646249d1ca9d87f75bac831c" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 8 </span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#ed9d2b"></rect><text x="50%" y="50%" fill="#ed9d2b" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Create Stripe Webhook -- API</strong>
				<a href="https://gist.github.com/oopcoders/20a1763f623297dc52082c800fdb46ed" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 9</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#02b875"></rect><text x="50%" y="50%" fill="#02b875" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Add Subscription to database from webhook</strong>
				<a href="https://gist.github.com/oopcoders/acffe1b1538422add002713ea43884af" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 10</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#4582ec"></rect><text x="50%" y="50%" fill="#4582ec" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Use Subscription information -- API</strong>
				<a href="https://gist.github.com/oopcoders/ed685c820decd7cdcc1e1e9b6b6a31e1" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 11</span>
		</div>
	</div>
	<div class="media text-muted pt-3">
		<svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
			 focusable="false" role="img" aria-label="Placeholder: 32x32">
			<title>Placeholder</title>
			<rect width="100%" height="100%" fill="#d23430"></rect><text x="50%" y="50%" fill="#d23430" dy=".3em">32x32</text>
		</svg>
		<div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
			<div class="d-flex justify-content-between align-items-center w-100">
				<strong class="text-gray-dark">Use Subscription information -- SPA</strong>
				<a href="https://gist.github.com/oopcoders/4672eb7595e533eaa1a10ee6159e1687" target="blank">SNIPPET</a>
			</div>
			<span class="d-block">Video 12 </span>
		</div>
	</div>


</div>